<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styleabout.css">
    <title>About Ukraine 🇺🇦 </title>
</head>
<body>
    <main>
    <div class="top">
    <h1>UKRAINIAN CUISINE</h1>
        </div>
    <div class="info">
        <p>
        In Ukraine we know for sure: the way to a guest’s heart is through his or her stomach! It’s all about Ukrainian cuisine.Especially if our gastronomic specialties are accompanied by our distinguished wine selection. And they definitely are! 
        No good vacation is possible without a good meal. No country exploration is possible without a trip through its cuisine highlights! 
        Ukrainian cuisine is known for its delicious tastes, traditional cooking technologies and generous ways to serve guests. It is an important part of the country’s culture and lifestyle. Yonderbound’s global ranking put Ukraine among the 20 best countries in the world for food. 
        Nowadays, Ukraine keeps its economic leadership as a guarantor of food security in the world. Ukraine exports a significant share of agriculture products, including crops, corn, sunflower oil, cereals, soya, meat, among others. Learn more about Ukraine’s cultural relations with other nations, as reflected in its cuisine, from a book about culinary diplomacy published by the Ukrainian Institute and Їzhakultura.

        Want to learn more? Please visit <a href="https://ukraine.ua/?before_the_war">Visit Ukraine</a>
        </p>
    </div>
    <div class="war">
    <h2> ‼️‼️ Russia Invaded Ukraine news ‼️‼️</h2>
    <a href="https://war.ukraine.ua/">War in Ukraine</a>
</div>
</main>   

<br>
<br>
<br>
<button> <a class="button" href="/users/register"> Back to Main Page</a> </button>
<%- include('./partials/footer.ejs')%>