<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main>
    <div class="mainnav">
    <h1 class="welcome">Welcome to the Taste of Ukraine!</h1>
    <nav>
    <a href="/users/signin"> Sign In </a>|
    <a href="/recipes"> Main Page </a>
    </nav>
    </div>
    
    <div class="message">
    <h4>New to the page? Please register below for updates, notifications and more</h4>
    <button id="myBtn">Register</button>
    </div>
    
    <div id="myModal" class="modal">
        <span class="close-button">×</span>
        <div class="modal-content">
            <span class="close">&times;</span>
    <form action="/users/register" method="POST">
        <div class="welcomefield">
            
          <label for="username">Username:</label>
          <input type="text" name="username"> 
          <br>
          <label for="password">Password:</label>
          <input type="password" name="password">
        </div>
        <input type="submit" value="Sign Up">
    
      </form>
      
    </div>
    </div>
    </main>
    <script type="text/javascript" src="/app.js"></script>
      <%- include('../partials/footer.ejs')%>
   

